
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #ffeecc
;">
  <div data-container="" class="application-name display-flex align-items-center full-height" role="button" tabindex="0" id="b2-b1-ApplicationTitleWrapper" style="cursor: pointer;padding-right:20px;">
    <img data-image="" class="app-logo" src="https://apoorva-ghavri.outsystemscloud.com/Bookings/img/Bookings.bookings_logo.png?Fo5gb+8Muc4l6d1qseGz_w" alt="" id="b2-b1-AppLogo" style="height: 32px;">
  </div>
  <a class="navbar-brand" href="#">Bookings</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link newlink " routerLink="/Dashboard">Home <span class="sr-only">(current)</span></a>
      </li>
     
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link newlink "  routerLink="/Room">Rooms</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link newlink "  routerLink="/Booking">Bookings</a>
      </li>
     
      <li class="nav-item" style="margin-left:850px;">
        <a class="nav-link newlink "  routerLink="/">
          <img  style="height: 20px;width:20px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_1LT-FqaCYMvwFvkMsvd1xxtJp957mrg8pw&usqp=CAU" />

          Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" >
    <br/>

<button data-button="" class="btn btn-primary" routerLink="/Booking/edit/0"type="button">New Booking</button>

<div class='table-responsive' style="border:10px  black;margin-top:30px;padding-top:10px ;background-color: #f3f6f8;">
    <table  class='table'>
        <thead>
            <tr>
             
                <th   scope="col">last name
                    <div class='sortable-icon'>
                   
                    </div>
                </th>
                <th   scope="col">first name</th>
                <th   scope="col">check in date</th>
                <th scope="col">check out date</th>
                <th scope="col">RoomNo</th>
                <th  scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let currentbooking of Bookings | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
          
                <td >  <a  (click)="EditBooking(currentbooking.id)"  routerLink="/Booking" >{{currentbooking.guestLastName}}</a></td>
                <td  >{{currentbooking?.guestFirstName}}</td>
                <td   > {{currentbooking?.checkInDate | date:'dd/MM/yyyy'}}</td>
                <td >{{currentbooking?.checkOutDate | date:'dd/MM/yyyy'}}</td>
                <td >{{ currentbooking?.room?.roomNumber}}</td>
                <td >{{ currentbooking?.status?.label}}</td>

              </tr>
        </tbody>
      <tfoot>
     
      </tfoot>
  
    
    </table>
    <div style="margin-left:300px;margin-top:40px;">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
</div>
</div>