.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.table-row td {
    background: var(--color-neutral-0);
    border-bottom: var(--border-size-s) solid var(--color-neutral-4);
    height: 56px;
    padding: var(--space-s) var(--space-m);
    vertical-align: inherit;
}
.active a {
    font-weight: bold;
   color:rgb(202, 56, 56) !important;
}
